<% if flash.has?(:notice) %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>

<h1><%= @song.name %></h1>
<h2><a href="/artists/<%= @song.artist.slug %>">Artist: <%= @song.artist.name %></a></h2>
<h2>Genres</h2>
<ul>
  <% @song.genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
  <% end %>
</ul>

<a href="/songs/<%= @song.slug %>/edit">Edit</a>
